<!-- show-sidebar -->
<div id="main-wrapper">
    <!-- Modal -->
<div class="modal fade" style="z-index:1000000000" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="popMessage">
          ...
        </div>
        <div class="modal-footer">
          <button type="button"  id="modalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    <div class="compny-profile">
      <!-- SUB Banner -->
      <div class="profile-bnr">
        <div class="container">
          <!-- Top Riht Button -->
          <div class="right-top-bnr">
            <div class="connect"> <a href="#." data-toggle="modal" data-target="#myModal"><i class="fa fa-user-plus"></i>
                ADD CONTACT</a> <a href="#."><i class="fa fa-envelope-o"></i> SEND AN
                EMAIL</a>
            </div>
          </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="container">
                  <h6><a href="#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Add Contact</h6>
                  
                  <!-- Forms -->
                  <form id="addUserForm" >
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <label for="inputFirstName">First Name</label>
                          <input type="text" class="form-control " id="inputFirstName" name="inputFirstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputLastName">Last Name</label>
                            <input type="text" class="form-control " id="inputLastName" name="inputLastName" placeholder="Last Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Email</label>
                            <input type="email" class="form-control "  id="inputEmail" name="inputEmail" placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Phone</label>
                            <input type="text" class="form-control " id="inputPhone" name="inputPhone" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputImage">Image</label>
                            <input type="file" class="form-control " id="inputImage" name="inputImage">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputState">Gender</label>
                              <select id="inputGender" name="inputGender" class="form-control ">
                                  {% for gender in Gender %}
                                  <option selected value={{gender.name}}>{{gender.name}}</option>
                                  {% endfor %}
                              </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputPosition">Position</label>
                                <input type="text" class="form-control " id="inputPosition" name="inputPosition" placeholder="CEO, Founder, CTO,...">
                              </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="primaryCheck" name="primaryCheck">
                          <label class="form-check-label" for="gridCheck">
                            Is primary Contact
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      
  
      <!-- Profile Company Content -->
      <div class="profile-company-content main-user" data-bg-color="f5f5f5">
        <div class="container">
          <div class="row">
  
            <!-- SIDE BAR -->
            <div class="col-md-4">
  
              <!-- Company Information -->
              <div class="sidebar">
                <div class="sidebar-thumbnail">
                    {% if company.logo|string() == 'None' %}
                    <img src="/images/company-thumb.jpg" alt=""> </div>
                    {% elif company.logo|string() == '' %}
                    <img src="/images/company-thumb.jpg" alt="">
                    {% else %}
                    <img src={{company.logo}} alt=""> </div>
                    {% endif %}
              </div>
            </div>
  
            <!-- Tab Content -->
            <div class="col-md-8">
              <div class="tab-content">
  
                <!-- PROFILE -->
                <div id="profile">
                  <div class="profile-main">
                    <h1> {{company.company_name}}</h1>
                    <div class="profile-in">
                      <p>{{company.description}} </p>
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th scope="row">Registration</th>
                            <td>{{company.registration}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Address</th>
                            <td>{{company.address}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Revenue bracket</th>
                            <td>{{company.revenue_bracket}}</td>
                          </tr>
                          <tr>
                              <th scope="row">Website</th>
                              <td>{{company.website}}</td>
                            </tr>
                        </table>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
            <div>
  
            </div>
          </div>
        </div>
  
        <!-- Members -->
        <section class="pro-mem">
          <div class="container pb30">
            <h3>Professionals</h3>
            <div class="card-columns">
                {% for contact in company.contacts %}
                <div class="card shadow p-3 mb-5 bg-white rounded text-center">
                      {% if contact.image|string() == 'None' %}
                      <img class="card-img-top" src="/images/member-1.png" alt="">
                      {% elif contact.image|string() == '' %}
                      <img src="/images/member-1.png" alt="">
                      {% else %}
                      <img src={{contact.image}} alt="">
                      {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{contact.first_name}} {{contact.last_name}} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ contact.position }}</h6>
                    <p class="card-text"><i class="fa fa-phone" style="margin-right: 8px;"></i>{{ contact.phone_number }}</p>
                    <div class="card-link">
                        <a class="btn btn-primary btn-block text-uppercase" role="button" href="/book_appointment/?name={{contact.first_name}} {{contact.last_name}}&phone={{ contact.phone_number }}&email={{ contact.email_id }}">SCHEDULE</a>
                      <button type="button" class="btn btn-primary btn-block text-uppercase">Send Email</button>
                    </div>
                  </div>
                  <!-- end .uou-block-6a -->
                </div>
                {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
