<!-- show-sidebar -->
<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                </div>
                <div class="row">
                    <!-- AllCompanies Card -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">All
                                            Companies</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ companies|length }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Pending Requests Card -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending
                                            Responses</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">32</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-primary">Upcoming this week</h5>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body overflow-auto" style="max-height: 350px;">
                                {% if Appointments|length > 0 %}
                                {% for appointment in Appointments %}
                                <div
                                    class="row no-gutters align-items-center border-left-info shadow-sm bg-white h-100 py-3 rounded mb-3">
                                    <div class="col ml-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{appointment.scheduled_time}}</div>
                                        <div class="h6 mb-0 font-weight-regular text-gray-700">
                                            {{appointment.customer_name}}</div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="text-center">
                                    <p>No upcoming communications in 7 days</p>
                                    <img class="img-responsive" src="images/not_found.jpg" alt="">
                                </div>
                                {% endif %}
                                <div class="more-block ">
                                    <a class="btn btn-primary pull-right" href="/desk#List/Appointment/List"
                                        style="margin-left: 10px" role="button">{{ _("View all") }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h5 class="m-0 font-weight-bold text-primary">Most promising companies</h5>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body overflow-auto" style="max-height: 350px;">
                                {% for company in companies %}
                                <div class="row no-gutters align-items-center border-right-info shadow-sm bg-white  rounded pl-3 mb-3"
                                    style="max-height: 50px; min-height: 50px">
                                    <!-- <div class="row no-gutters align-items-center border-left-primary shadow rounded h-100 py-3"> -->
                                    <div class="col-sm-3 pr-3">
                                        <a class="thumbnail" href="/company/id/?name={{ company.name }}">
                                            {% if company.logo|string() == 'None' %}
                                            <img src="/images/company-thumb.jpg" alt="" class="img-responsive"
                                                style="max-height: 50px">
                                            {% elif company.logo|string() == '' %}
                                            <img src="/images/company-thumb.jpg" alt="" class="img-responsive"
                                                style="max-height: 50px">
                                            {% else %}
                                            <img src={{company.logo}} alt="" class="img-responsive"
                                                style="max-height: 50px">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col mr-2">
                                        <div class="h5 mb-0 font-weight-medium text-gray-700">{{ company.company_name }}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p>Hello</p>
                    <div class="col-xl-12" id="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>